*{background-color: gray;
    margin: 1;
    padding: 1;

}
body {background-color: grey;}
p {color: gold;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;}
    .pnaranja{ color: orange;} 
h1 {color: black;font-family: fantasy;font-size: 40px;}
h2,h3 {color: blue;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px;}

a{background-color: rgb(45, 167, 130);}
#segundotitulo{ color: black;

}
/*comentarios*/